@font-face {
  font-family: 'basic';
  src:  url('fonts/basic.eot?8dhcun');
  src:  url('fonts/basic.eot?8dhcun#iefix') format('embedded-opentype'),
  url('fonts/basic.ttf?8dhcun') format('truetype'),
  url('fonts/basic.woff?8dhcun') format('woff'),
  url('fonts/basic.svg?8dhcun#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'files';
  src:  url('fonts/files.eot?8e56ku');
  src:  url('fonts/files.eot?8e56ku#iefix') format('embedded-opentype'),
  url('fonts/files.ttf?8e56ku') format('truetype'),
  url('fonts/files.woff?8e56ku') format('woff'),
  url('fonts/files.svg?8e56ku#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icons-16';
  src:  url('fonts/16.eot?he9f1n');
  src:  url('fonts/16.eot?he9f1n#iefix') format('embedded-opentype'),
  url('fonts/16.ttf?he9f1n') format('truetype'),
  url('fonts/16.woff?he9f1n') format('woff'),
  url('fonts/16.svg?he9f1n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'different';
  src:  url('fonts/different.eot?ogvlh3');
  src:  url('fonts/different.eot?ogvlh3#iefix') format('embedded-opentype'),
  url('fonts/different.ttf?ogvlh3') format('truetype'),
  url('fonts/different.woff?ogvlh3') format('woff'),
  url('fonts/different.svg?ogvlh3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'arrows';
  src:  url('fonts/arrows.eot?p7mjas');
  src:  url('fonts/arrows.eot?p7mjas#iefix') format('embedded-opentype'),
  url('fonts/arrows.ttf?p7mjas') format('truetype'),
  url('fonts/arrows.woff?p7mjas') format('woff'),
  url('fonts/arrows.svg?p7mjas#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'caption';
  src:  url('fonts/caption.eot?eo7mfv');
  src:  url('fonts/caption.eot?eo7mfv#iefix') format('embedded-opentype'),
  url('fonts/caption.ttf?eo7mfv') format('truetype'),
  url('fonts/caption.woff?eo7mfv') format('woff'),
  url('fonts/caption.svg?eo7mfv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

