<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-card-header>
        Example
      </nb-card-header>
      <nb-card-body>
        <div>
          <span>class="icon-basic icon-chevrons-bottom color-warning"</span>
            <code>
              <i class="icon-basic icon-chevrons-bottom color-warning"></i>
            </code>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-6">
<div>
    <nb-card>
      <nb-card-header>
        Icons 16
      </nb-card-header>
      <nb-card-body>
        <div class="grid-icons-wrapper">
          <div class="grid-icons" *ngFor="let icon of iconsAluna.icons16">
            <i  class="icon-16 icon-{{icon}}"></i>
            <span>{{icon}}</span>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
</div>
    <div>
        <nb-card>
          <nb-card-header>
            Arrows Icons
          </nb-card-header>
          <nb-card-body>
            <div class="grid-icons-wrapper">
              <div class="grid-icons" *ngFor="let icon of iconsAluna.arrows">
                <i  class="icon-arrows icon-{{icon}}"></i>
                <span>{{icon}}</span>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
    </div>
</div>
  <div class="col-md-12 col-lg-6">
    <div>
      <nb-card>
        <nb-card-header>
          Files Icons
        </nb-card-header>
      <nb-card-body>
        <div class="grid-icons-wrapper">
          <div class="grid-icons" *ngFor="let icon of iconsAluna.files">
            <i  class="icon-files icon-{{icon}}"></i>
            <span>{{icon}}</span>
          </div>
        </div>
      </nb-card-body>
      </nb-card>
    </div>
    <div>

    <div>
          <nb-card>
            <nb-card-header>
              Basics Icons
            </nb-card-header>
            <nb-card-body>
              <div class="grid-icons-wrapper">
                <div class="grid-icons" *ngFor="let icon of iconsAluna.basics">
                  <i  class="icon-basic icon-{{icon}}"></i>
                  <span>{{icon}}</span>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
    </div>
      <div>
        <nb-card>
          <nb-card-header>
            Different Icons
          </nb-card-header>
          <nb-card-body>
            <div class="grid-icons-wrapper">
              <div class="grid-icons" *ngFor="let icon of iconsAluna.different">
                <i  class="icon-different icon-{{icon}}"></i>
                <span>{{icon}}</span>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
