<div class="row">
  <div class="col-md-12 col-xl-6">
    <nb-card size="giant">
      <nb-card-header>
        Basic Colors
      </nb-card-header>
      <nb-card-body>
        <div class="colors" >
          <div class="item text-heading" *ngFor="let color of colors.basics">
            <div class="color bg-{{color}}"></div>
            <div>
              <h5 class="text-heading">{{color}}</h5>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12 col-xl-6">
    <div>
      <nb-card size="small">
        <nb-card-header>
          Text Colors
        </nb-card-header>
        <nb-card-body>
          <div class="colors">
            <div class="colors" >
              <div class="item text-heading" *ngFor="let color of colors.text">
                <div class="color bg-{{color}}"></div>
                <div>
                  <h5 class="text-heading">{{color}}</h5>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div>
      <nb-card size="small">
        <nb-card-header>
          Alert Colors
        </nb-card-header>
        <nb-card-body>
          <div class="colors">
            <div class="colors">
              <div class="colors" >
                <div class="item text-heading" *ngFor="let color of colors.alert">
                  <div class="color bg-{{color}}"></div>
                  <div>
                    <h5 class="text-heading">{{color}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
