<div class="row">
  <div class="col-lg-4 col-md-4" >
    <nb-card>
      <nb-card-header>Spinner indeterminate Example</nb-card-header>
      <nb-card-body>
        <code>
          mat-progress-spinner  mode="indeterminate" diameter="16" strokeWidth="2"   /mat-progress-spinner
        </code>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4" >
    <nb-card>
      <nb-card-header>Spinner determinate Example</nb-card-header>
      <nb-card-body>
        <code>
          <code>
            mat-progress-spinner mode="determinate" diameter="16" value="75" strokeWidth="2"   /mat-progress-spinner
          </code>
        </code>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4" >
    <nb-card>
      <nb-card-header>Progress bas Example</nb-card-header>
      <nb-card-body>
        <code>
          progress-bar [progress]="100" [color]="'#1EAAF1'"  /progress-bar
        </code>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4" >
    <nb-card>
      <nb-card-header>Spinner indeterminate</nb-card-header>
      <nb-card-body>
        <div>
            <mat-progress-spinner  class="progress-spinner" mode="indeterminate" diameter="16" strokeWidth="2">
            </mat-progress-spinner>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4" >
    <nb-card>
      <nb-card-header>Spinner determinate value 75</nb-card-header>
      <nb-card-body>
        <div>
          <mat-progress-spinner  class="progress-spinner" mode="determinate" diameter="16" value="75" strokeWidth="2">
          </mat-progress-spinner>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-4" >
    <nb-card>
      <nb-card-header>Progress bars</nb-card-header>
      <nb-card-body>
        <div>
          <progress-bar [progress]="100" [color]="'#1EAAF1'">
          </progress-bar>
        </div>
        <div>
          <progress-bar [progress]="80" [disable-percentage]="true">
          </progress-bar>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
