@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-progress-bar ~ nb-progress-bar {
    margin-top: 1rem;
  }
}

::ng-deep {
  .progress-outer {
    border: none !important;
    background: transparent !important;
  }
  .progress-inner {
    border-radius: 0 !important;
    min-height: 4px !important;
  }
}
