<div class="row">
  <div class="col-lg-3">
    <nb-card>
      <nb-card-header>Example</nb-card-header>
      <nb-card-body>
        <div>
          <code>
            add class="cha-slide" on mat-slide-toggle
          </code>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3">
    <nb-card>
      <nb-card-header>Slide</nb-card-header>
      <nb-card-body>
        <mat-slide-toggle class="cha-slide">Slide me!</mat-slide-toggle>
      </nb-card-body>
    </nb-card>
  </div>
</div>
