<div class="row">
  <div class="col-lg-3">
    <nb-card>
      <nb-card-header>Example</nb-card-header>
      <nb-card-body>
        <div>
          <code>
              add class="cha-radio" on mat-radio-button
          </code>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3">
    <nb-card>
      <nb-card-header>Radio Button</nb-card-header>
      <nb-card-body>
        <mat-radio-group    class="FlexColumn"
          [(ngModel)]="favoriteSeason">
          <mat-radio-button class="cha-radio" checked="true" value="Winter">
            Winter
          </mat-radio-button>
        <mat-radio-button class="cha-radio" value="spring">
          Spring
        </mat-radio-button>
          <mat-radio-button class="cha-radio" disabled>
            Summer
          </mat-radio-button>
          </mat-radio-group>
      </nb-card-body>
    </nb-card>
  </div>
</div>


