<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-card-header>Example</nb-card-header>
      <nb-card-body>
        <div>
          <code>
           mat-tab-group class="cha-tabs"
              <br>
            &nbsp;&nbsp;  mat-tab label="Tumor Maker"
                <br>
            &nbsp;&nbsp;&nbsp;     ...... Content ......
                <br>
            &nbsp;&nbsp;    /mat-tab       <br>
             /mat-tab-group
          </code>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Tabs</nb-card-header>
      <nb-card-body>
        <mat-tab-group class="cha-tabs">
          <mat-tab label="Tumor Maker">
            <div class="overview-widjet">
              <header>
                <div class="overview-widjet__header overview-widjet-header"> Tumor Marker Test </div>
                <div class="overview-widjet__btn-group overview-widjet-btn-group">
                  <cng-tabs>
                    <cng-tab #tumorText class="reset-tabs-title">
                      <i class="overview-widjet-btn-group__v1"></i> </cng-tab>
                    <cng-tab #tumorTable class="reset-tabs-title">
                      <i class="overview-widjet-btn-group__v2"></i> </cng-tab>
                  </cng-tabs>
                  <span class="overview-widjet-btn-group__v-line "></span> <i class="overview-widjet-btn-group__close  icon-16 icon-close-2"></i> </div>
              </header>
              <div class="overview-widjet-content overview-widjet__content">
                <div [cngTabContentOf]="tumorText">
                  <div class="overview-widjet-content__tumor-list overview-widjet-content-tumor-list">
                    <div class="overview-widjet-content-tumor-list__item"> HER2 - </div>
                    <div class="overview-widjet-content-tumor-list__item"> ER+ </div>
                    <div class="overview-widjet-content-tumor-list__item"> PR+ </div>
                  </div>
                </div>
                <div [cngTabContentOf]="tumorTable">
                  <div class="list-table list-table_cell-50">
                    <div class="list-table__item list-table-item">
                      <div class="list-table-item__description"> HER2 </div>
                      <div class="list-table-item__field"> <a href="#">Negative</a> </div>
                    </div>
                    <div class="list-table__item list-table-item">
                      <div class="list-table-item__description"> ER </div>
                      <div class="list-table-item__field"> <a href="#">Positive</a> </div>
                    </div>
                    <div class="list-table__item list-table-item">
                      <div class="list-table-item__description"> ER </div>
                      <div class="list-table-item__field"> <a href="#">Positive</a> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Stage Group">
            <div class="overview-widjet">
              <header>
                <div class="overview-widjet__header overview-widjet-header"> STAGE GROUP </div>
                <div class="overview-widjet__btn-group overview-widjet-btn-group"> <i class="overview-widjet-btn-group__v1"></i> <i class="overview-widjet-btn-group__v2"></i> <span class="overview-widjet-btn-group__v-line "></span> <i class="overview-widjet-btn-group__close icon-close"></i> </div>
              </header>
              <div class="overview-widjet-content overview-widjet__content">
                <div class="overview-widjet-content__stage-list overview-widjet-content-stage-list">
                  <div class="overview-widjet-content-stage-list__item">
                    <div>pTNM</div>
                  </div>
                  <div class="overview-widjet-content-stage-list__item curPointer type_t4bt4at4"> T4b </div>
                  <div class="overview-widjet-content-stage-list__item type_n1"> N1 </div>
                  <div class="overview-widjet-content-stage-list__item type_m1"> M1 </div>
                  <div class="overview-widjet-content-stage-list__item"> Stage IIIС </div>
                  <div class="overview-widjet-content-stage-list__item">AJCC</div>
                </div>
                <div class="overview-widjet-content__stage-list overview-widjet-content-stage-list">
                  <div class="overview-widjet-content-stage-list__item">
                    <div>pTNM</div>
                  </div>
                  <div class="overview-widjet-content-stage-list__item curPointer type_any"> Any T </div>
                  <div class="overview-widjet-content-stage-list__item type_any"> Any N </div>
                  <div class="overview-widjet-content-stage-list__item type_m0"> M0 </div>
                  <div class="overview-widjet-content-stage-list__item"> Stage IIIС </div>
                  <div class="overview-widjet-content-stage-list__item">AJCC</div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="No evidence">
            <div class="overview-widjet">
              <header>
                <div class="overview-widjet__header overview-widjet-header"> Comorbidities </div>
                <div class="overview-widjet__btn-group overview-widjet-btn-group"> <i class="overview-widjet-btn-group__v1"></i> <i class="overview-widjet-btn-group__v2"></i> <span class="overview-widjet-btn-group__v-line "></span> <i class="overview-widjet-btn-group__close icon-close"></i> </div>
              </header>
              <div class="overview-widjet-content overview-widjet__content">
                <div class="empty-value"> No evidence </div>
              </div>
            </div></mat-tab>
        </mat-tab-group>
      </nb-card-body>
    </nb-card>
  </div>
</div>
