<div class="row">
  <div class="col-md-6 col-xxxl-8">
    <nb-card size="large">
      <nb-card-header>
        Used Fonts
      </nb-card-header>
      <nb-card-body>
        <div class="font-row">
          <div class="header">
            <div class="name bold">Lato</div>
          </div>
          <p>
            Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа модели развития. Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
          </p>
          <p>
            Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения форм развития. Товарищи! консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Повседневная практика показывает, что рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения новых предложений. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.
          </p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6 col-xxxl-4">
    <nb-card size="large" class="headings-card">
      <nb-card-header>
        Headings
      </nb-card-header>
      <nb-card-body>
        <div class="header">
          <div>
            <h1>H1. Heading</h1>
          </div>

          <div class="detail">
            400 28px (38px)
          </div>
        </div>
        <div class="header">
          <div>
            <h2>H2. Heading</h2>
          </div>

          <div class="detail">
            400 28px (38px)
          </div>
        </div>
        <div class="header">
          <div>
            <h3>H3. Heading</h3>
          </div>

          <div class="detail">
            400 24px (33px)
          </div>
        </div>
        <div class="header">
          <div>
            <h4>H4. Heading</h4>
          </div>

          <div class="detail">
            700 20px (27px)
          </div>
        </div>
        <div class="header">
          <div>
            <h5>H5. Heading</h5>
          </div>

          <div class="detail">
            400 18px (25px)
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>


</div>
