<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-card-header>Example</nb-card-header>
      <nb-card-body>
        <div>
          <span></span>
            <code>
              .btn -> Button default blue with white text<br>
              .icon -> Have icon (default left)<br>
              .icon_right -> icon on right<br>
              .bg-negative -> Have custom red bg with default text<br>
              .bg-negative .color-links-on-dark -> Have custom red bg with 'gray' text<br>
              .secondary -> Secondary btn<br>
              .tertiary -> Tertiary btn<br>
              =========================================================== <br>
              .link-icon -> Link icon with icon
            </code>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="flex-wrap-k">
  <div class="">
    <nb-card>
      <nb-card-header>Button default</nb-card-header>
      <nb-card-body>
        <div class="list-component-wrapper list-component-wrapper_btns">
          <div class="list-component">
            <div class="list-component__item">
              Active
            </div>
            <div class="list-component__item">
              <button class="btn">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn icon bg-negative color-gray">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Hover
            </div>
            <div class="list-component__item">
              <button class="btn hover">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn icon hover">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Pressed
            </div>
            <div class="list-component__item">
              <button class="btn active">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn icon active">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Disabled
            </div>
            <div class="list-component__item">
              <button class="btn" disabled>Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn icon" disabled>
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="">
    <nb-card>
      <nb-card-header>Secondary Button</nb-card-header>
      <nb-card-body>
        <div class="list-component-wrapper list-component-wrapper_btns">
          <div class="list-component">
            <div class="list-component__item">
              Active
            </div>
            <div class="list-component__item">
              <button class="btn secondary">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn secondary icon">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Hover
            </div>
            <div class="list-component__item">
              <button class="btn secondary hover">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn secondary icon hover">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Pressed
            </div>
            <div class="list-component__item">
              <button class="btn secondary active">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn secondary icon active">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Disabled
            </div>
            <div class="list-component__item">
              <button class="btn secondary" disabled>Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn secondary icon" disabled>
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="">
    <nb-card>
      <nb-card-header>Tertiary Button
      </nb-card-header>
      <nb-card-body>
        <div class="list-component-wrapper list-component-wrapper_btns">
          <div class="list-component">
            <div class="list-component__item">
              Active
            </div>
            <div class="list-component__item">
              <button class="btn tertiary">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn tertiary icon">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Hover
            </div>
            <div class="list-component__item">
              <button class="btn tertiary hover">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn tertiary icon hover">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Pressed
            </div>
            <div class="list-component__item">
              <button class="btn tertiary active">Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn tertiary icon active">
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Disabled
            </div>
            <div class="list-component__item">
              <button class="btn tertiary" disabled>Button</button>
            </div>
            <div class="list-component__item">
              <button class="btn tertiary icon" disabled>
    <i class="icon-basic icon-camera"></i>
                Button</button>
            </div>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="">
    <nb-card>
      <nb-card-header>Link with icon</nb-card-header>
      <nb-card-body>
        <div class="list-component-outer-wrapper">
          <div class="list-component-wrapper list-component-wrapper_btns">
          <div class="list-component">
            <div class="list-component__item">
              Active
            </div>
            <div class="list-component__item">
              <a href="javascript:void(0);" class="link icon">
    <i class="icon-basic icon-camera"></i>
                  <i class="icon-basic icon-camera"></i>
                link</a>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Hover
            </div>

            <div class="list-component__item">
              <button class="link icon hover">
    <i class="icon-basic icon-camera"></i>
                link</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Pressed
            </div>

            <div class="list-component__item">
              <button class="link icon active">
    <i class="icon-basic icon-camera"></i>
                link</button>
            </div>
          </div>
          <div class="list-component">
            <div class="list-component__item">
              Disabled
            </div>
            <div class="list-component__item">
              <button class="link icon" disabled>
    <i class="icon-basic icon-camera"></i>
                link</button>
            </div>
          </div>

        </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
